[submodule "backend"]
	path = backend
	url = https://github.com/raulntjj/subscription-tracker-api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/raulntjj/subscription-tracker-app.git
